[Unit]
Description=Webapp Server
ConditionPathExists=/opt/webapp/app/.env
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/node /opt/webapp/app/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=csye6225
EnvironmentFile=/opt/webapp/app/.env

[Install]
WantedBy=multi-user.target
